* {
  font-family: Georgia;
  text-align: center;
  border: 1px solid black;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.k {
  background-color: red;
}

#container {
  height: 100%;
  width: 100%;
}

.questionContainer,
.choice {
  display: flex;
  align-items: center;
  justify-content: center;
}

.questionContainer {
  height: 30vh;
  font-size: 10vh;
}

.answersContainer {
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.choice {
  font-size: 5vh;
  cursor: pointer;
  border-radius: 3px;
  border: 6px solid transparent;
  outline: 1px solid black;
}

.nextQuestionContainer {
  height: 15vh;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 3em;
  border: none;
}

button {
  padding: 1em 2.5em;
  background-color: lightgray;
  border-radius: 10px;
  cursor: pointer;
  font-size: 3vh;
}

button:hover {
  background-color: rgb(5, 5, 54);
  color: whitesmoke;
}

.selected {
  border: 6px solid black;
}

.selected.correct {
  border-color: darkgreen;
}

.selected.incorrect {
  border-color: darkred;
}

.over {
  display: none;
}
